<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Filme</title>
    <link rel="stylesheet" href="/templates/estilo_css/cadastro_filme.css">
</head>
<body>
    <header class="cabeçalho">
        <div class="container_cabeçalho">
            <div class="logo">
                <img src="/images/logo.png" alt="MyShelf Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="home.html" class="nav-link">Home</a></li>
                    <li><a href="cadastrar_filme.html" class="nav-link">Cadastrar filme</a></li>
                    <li><a href="lista_filmes.html" class="nav-link">Lista de filmes</a></li>
                    <li><a href="perfil.html" class="nav-link">perfil</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>