<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela home</title>
    <link rel="stylesheet" href="/templates/estilo_css/style_home.css">
</head>
<body>
    <header class="cabeçalho">
        <div class="container_cabeçalho">
            <div class="logo">
                <img src="/images/logo.png" alt="MyShelf Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="base.html" class="nav-link">Home</a></li>
                    <li><a href="cadastrar_filme.html" class="nav-link">Cadastrar filme</a></li>
                    <li><a href="lista_filmes.html" class="nav-link">Lista de filmes</a></li>
                    <li><a href="perfil.html" class="nav-link">perfil</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="conteudo">
        <h1 class="titulo">Bem-vindo ao MyShelf!</h1>

        <div class="conteudo_principal">
            <p>Organize seus filmes favoritos em um só lugar. Explore, adicione e compartilhe suas coleções de filmes com facilidade. Descubra novos títulos e mantenha sua paixão pelo cinema sempre viva com o MyShelf!</p>
        </div>

        <div class="movie-grid" aria-label="Grade de filmes">
            <!-- Aqui você pode adicionar os cards dos filmes ou os elementos da grade -->
        </div>
    </section>

</body>
</html>